<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Lobster|Yanone+Kaffeesatz" rel="stylesheet" />
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <video width="600" height="400" controls="controls">
            <source th:src="@{/vid/{name}(name=${video.content})}" th:type="${type}" />
            Your browser does not support the video tag.
        </video>
        <a th:href='@{/vid/{name}(name=${video.content})}'>Télécharger la vidéo</a>
</body>
</html>
