<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    
<head th:include="fragments/head :: head"></head>

<body>

	<header th:include="fragments/header :: header"></header>
	 <div class="actions-bar">
            <a th:href="@{/series/add}" class="action"><i class="fa fa-plus"></i></a>
    		<a th:href="@{/series/addEpisode}" class="action"><i class="fa fa-plus"></i></a>
    		
     </div>
     
	 <section id="main-container">
            <article id="movies-container" class="container media-container">
                <div class="content">
                <div class="no-content" th:if="${#lists.isEmpty(serie)}">Il n'y a aucune série.</div>
                    
               <!--  <a th:href="@{/series/add}">Ajouter une série</a>
                <a th:href="@{/series/addEpisode}">Ajouter episode</a> -->
                    <ul class="media-list" th:each="serie : ${serie}">
                        <li class="media-item">
                            <a th:href="@{/series/view/{id}(id=${serie.id})}">
                                <img th:src="@{/img/{image}(image=${serie.media.image})}" />
                                <div class="media-info">
                                    <div class="media-title"><span th:text="${serie.media.name}"></span></div>
                                    <div class="media-date">(<span th:text="${serie.media.date}"></span>)</div>
                                   <!--  <div><span th:href="@{/edit/{id}(id=${serie.media.id})}">Editer</span></div>
                                    <div><span th:href="@{/delete/{id}(id=${serie.media.id})}">Supprimer</span></div>
                                 	-->
                                </div>
                                
                            </a>
                            <a><div><span th:href="@{/series/edit/{id}(id=${serie.media.id})}">Editer</span></div>
                                    <div><span th:href="@{/series/delete/{id}(id=${serie.media.id})}">Supprimer</span></div>
                               </a> 
                        </li>
                     	</ul>
                     </div>
              </article>
              <a th:href="@{/series}">Retour à l'index</a>
        </section>
      
</body>
</html>