<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    
<head th:include="fragments/head :: head"></head>

<body>
	<header th:include="fragments/header :: header"></header>
	
	 <section id="main-container">
            
            <article id="presentation" class="container">
                <h2>Presentation</h2>
                <div class="content">
                    <h1>Listes des Séries</h1>

						<a th:href="@{/series/add}">Ajouter une série</a>
						<a th:href="@{/series/addEpisode}">Ajouter un episode</a>
						<div th:if="${#lists.isEmpty(serie)}">
						il n'existe pas de séries dans la base !!!</div>
						    
						    <table>
						    <tr>
						    	<th>ID</th>
						    	<th>name</th>
						    	<th>description</th>
						    	<th>trailer</th>
						    	<th>image name</th>
						    	<th>image</th>
						    	<th>Action</th>
						    </tr>
						    	
   
				    	<tr th:each="serie : ${serie}">
					    	<td th:text="${serie.media.id}"></td>
					    	<td th:text="${serie.media.name}"></td>
					    	<td th:text="${serie.media.description}"></td>
					    	<td th:text="${serie.media.trailer}"></td>
					    	<td><a th:href="@{(${serie.media.trailer})}">Trailer</a></td>
					    	<td th:text="${serie.media.image}"></td>
					    	<td><img th:src= "@{/images/{image}(image=${serie.media.image})}" height="60" width="60" />
					    	<a th:href="@{/series}">Ouvrir</a>
					    	</td>
	    	
						<td><a th:href="@{/series/edit/{id}(id=${serie.id})}">Editer</a>
						<a th:href="@{/series/delete/{id}(id=${serie.id})}">Supprimer</a>
						</td>
						</tr>
				   </table>
               </div>
            </article>
            
            <article id="movies-container" class="container media-container">
                <div class="content">
                    <ul class="media-list" th:each="serie : ${serie}">
                        <li class="media-item">
                            <a th:href="@{films/view/1}">
                                <img th:src="@{/images/{image}(image=${serie.media.image})}" height="60" width="60" />
                                <div class="media-info">
                                    <div class="media-title">Elephant Dream</div>
                                    <div class="media-date">(2006)</div>
                                </div>
                            </a>
                        </li>
                     	</ul>
                     </div>
              </article>
        </section>
                        
	
</body>
</html>