<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head th:include="fragments/head :: head"></head>
  
<body>
<header th:include="fragments/header :: header"></header>
  <section id="main-container">
  
	<form th:action="@{/series/edit}" th:object="${media}"
		method="post" enctype="multipart/form-data">
		<input type="hidden" th:field="*{id}"/> 
		<fieldset>
			 <legend>Modifier une série</legend>
				<div class="input-group">
                        <input class="input input-text" type="text" th:field="*{name}" id="name" />
                        <label class="input-label" for="name">Nom</label>
                        <span class="input-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            	</div>
            	<div class="input-group">
                        <textarea class="input input-textarea" type="text" th:field="*{description}" id="description"></textarea>
                        <label class="input-label" for="description">Description</label>
                        <span class="input-error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                    </div>
                    <div class="input-group">
                        <textarea class="input input-text" type="text" th:field="*{date}" id="date"></textarea>
                        <label class="input-label" for="date">Date</label>
                        <span class="input-error" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
                    </div>
                    <div class="input-group">
                        <input class="input input-text" type="url" th:field="*{trailer}" id="trailer" />
                        <label class="input-label" for="trailer">Trailer</label>
                        <span class="input-error" th:if="${#fields.hasErrors('trailer')}" th:errors="*{trailer}"></span>
                    </div>
                    <div class="input-group">
                        <input class="input input-text" type="hidden" th:field="*{image}" id="image" />
                        
                        <span class="input-error" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
            	</div>
                    
                    <div class="form-actions">
                        <button type="submit" class="form-action">Enregistrer</button>
                    </div>
                    <a th:href="@{/series}">Retour à l'index</a>
			</fieldset>
		<!-- 
		<table>
			<tr>
				<td>Serie Name :</td>
				<td><input type="text" th:field="*{name}"></input></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
					Errors</td>
			</tr>

			<tr>
				<td>Description :</td>
				<td><input type="text" th:field="*{description}"></input></td>
				<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description
					Errors</td>
			</tr>
			<tr>
				<td>Trailer :</td>
				<td><input type="text" th:field="*{trailer}"></input></td>
				<td th:if="${#fields.hasErrors('trailer')}" th:errors="*{trailer}">Trailer
					Errors</td>
			</tr>
			
			<tr>
				
				<td><input type="hidden" th:field="*{image}"></input></td>
				<td th:if="${#fields.hasErrors('image')}" th:errors="*{image}">Image
					Errors</td>
			</tr>
			<tr>
				<td><button type="submit">Edit Serie</button></td>
			</tr>

		</table>
		 -->

	</form>
	</section>
	 <script th:src="@{/js/form.js}" />
</body>
</html>