<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

    <head th:include="fragments/head :: head"></head>

    <body>

        <header th:include="fragments/header :: header"></header>
        <div th:if="${session.role}" class="actions-bar">
            <a th:href="@{/series/add}" class="action"><i class="fa fa-plus"></i></a>
            <a th:href="@{/series/addEpisode}" class="action"><i class="fa fa-plus"></i></a>

        </div>

        <section id="main-container">
            <aside class="categories-container">
                <ul>
                    <li th:each="category : ${categories}">
                        <a th:href="@{/series(category=${category})}" th:text="${category.name}"></a>
                    </li>
                </ul>
            </aside>

            <article id="movies-container" class="container media-container">
                <div class="content">
                    <div class="content" th:include="fragments/list_series :: div.content"></div>
                </div>
            </article>
            <a th:href="@{/series/admin}">Admin list</a>
        </section>

    </body>
</html>