<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    
<head th:include="fragments/head :: head"></head>

<body>
  <header th:include="fragments/header :: header"></header>
  <section id="main-container">
  
  	<fieldset>
  		 <legend>Saison <span th:text="${saison_number}"></span></legend>
                <div class="input-group">
                    <ul class="media-list" th:each="episode : ${episodes}">
                        <li class="media-item">
                            <a th:href="@{/videos/view/{id}(id=${episode.video.id})}" >
                            <span th:text="${episode.titre}"/>  :  <span th:text="${episode.description}"/> </a>
                        </li>
                     	</ul>
                     </div>
              </fieldset>
        </section>
      
</body>
</html>