<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <title>Webflix</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <link th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css" /> -->
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        
        <script src="https://use.fontawesome.com/6cf7a68c41.js"></script>
    </head>
</html>
