<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head></head>
    <body>
        <header>
            <h1><a th:href="@{/}">Webflix</a></h1>
            <nav id="main-nav">
                <ul>
                    <li><a th:href="@{/films}">Movies</a></li>
                    <li><a href="">TV Shows</a></li>
                    <li><a th:href="@{films}"><i class="fa fa-fw fa-2x fa-film"></i> Movies</a></li>
                    <li><a th:href="@{series}"><i class="fa fa-fw fa-2x fa-television"></i> TV-Shows</a></li>
                </ul>
            </nav>
            <nav id="secondary-nav">
                <ul>
                    <li><a href=""><i class="fa fa-fw fa-heart" title="Bookmarks"></i></a></li>
                    <li><a th:href="@{users/login}"><i class="fa fa-fw fa-sign-in" title="Sign In">si</i></a></li>
                    <li><a th:href="@{users/logout}"><i class="fa fa-fw fa-sign-out" title="Sign Out">so</i></a></li>
                    <li><a th:href="@{users/signup}"><i class="fa fa-fw fa-user-plus" title="Create Account">ca</i></a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>