<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head th:include="fragments/head :: head"></head>
    <body>
        <header th:include="fragments/header :: header"></header>
        <section id="main-container">
            <form th:action="@{/films/add}" th:object="${media}"
                  method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>Créer un film</legend>
                    <div class="input-group">
                        <input class="input input-text" type="text" th:field="*{name}" id="name" />
                        <label class="input-label" for="name">Nom</label>
                        <span class="input-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <!--<div class="input-group">
                        <input class="input input-text" type="text" th:field="*{date}" id="date" />
                        <label class="input-label" for="date">Date</label>
                        <span class="input-error" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
                    </div>-->
                    <div class="input-group">
                        <textarea class="input input-textarea" type="text" th:field="*{description}" id="description"></textarea>
                        <label class="input-label" for="description">Description</label>
                        <span class="input-error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                    </div>
                    <div class="input-group">
                        <input class="input input-text" type="text" th:field="*{trailer}" id="trailer" />
                        <label class="input-label" for="trailer">Trailer</label>
                        <span class="input-error" th:if="${#fields.hasErrors('trailer')}" th:errors="*{trailer}"></span>
                    </div>
                    <div class="input-group">
                        <input class="input input-text" type="file" name="file" id="image" accept="image/*"/>
                        <label class="input-label" for="image">Image</label>
                        <span class="input-error" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
                    </div>
                    <div class="input-group">
                        <input class="input input-text last-input" list="categories" id="categories[]" />
                        <label class="input-label" for="categories[]">Catégories</label>
                        <datalist id="categories">
                            <option value="Aventure" />
                            <option value="Fantastique" />
                            <option value="Romance" />
                            <option value="Historique" />
                        </datalist>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="form-action">Enregistrer</button>
                    </div>
                </fieldset>
            </form>
        </section>

        <script th:src="@{/js/form.js}" />
        
    </body>
</html>