<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head th:include="fragments/head :: head"></head>
    <body>
        <header th:include="fragments/header :: header"></header>
        <div class="actions-bar">
            <a th:href="@{/films/add}" class="action"><i class="fa fa-plus"></i></a>
        </div>
        <section id="main-container">
            <article id="movies-container" class="container media-container">
                <div class="content">
                    <div class="no-content" th:if="${#lists.isEmpty(film)}">Il n'y a aucun film.</div>
                    <ul class="media-list">
                        <li class="media-item" th:each="film : ${film}">
                            <a th:href="@{/films/view/{id}(id=${film.id})}">
                                <img th:src="@{/img/{image}(image=${film.media.image})}" />
                                <div class="media-info">
                                    <div class="media-title" th:text="${film.media.name}"></div>
                                    <div class="media-date">(2006)</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
        </section>
    </body>
</html>
