<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head th:include="fragments/head :: head"></head>
    <body>
        <header th:include="fragments/header :: header"></header>
        <section id="main-container">
            <article id="media-container" class="container" th:style="'background-image:url(' + @{/img/{image}(image=${film.media.image})} + ');'">
                <!-- <img class="media-poster" th:src="@{/img/test.jpg}" /> -->
                <div class="media-data">
                    <h2 class="media-title" th:text="${film.media.name}"></h2>
                    <div class="video-data">
                        <span class="media-one-data" th:if="not ${#lists.isEmpty(film.media.categories)}" th:text="${#strings.setJoin(film.media.categories,', ')}"></span>
                        <span class="media-one-data"><i class="fa fa-fw fa-calendar"></i>2006</span>
                        <span class="media-one-data"><i class="fa fa-fw fa-clock-o"></i>11 min</span>
                        <span class="media-one-data">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </span>
                    </div>
                    <p class="media-description" th:text="${film.media.description}"></p>
                </div>
                <div class="media-actions">
                    <a class="media-action big-action" th:href="@{/videos/view/{id}(id=${film.video.id})}" th:onclick="'window.open(this.href, \'' + ${film.media.name} + '\', \'scrollbars=1,resizable=1,height=400,width=600\'); return false;'">
                        <i class="fa fa-play-circle-o"></i> Watch it now
                    </a>
                    <a class="media-action small-action" th:href="${film.media.trailer}" target="_blank">
                        <i class="fa fa-ticket"></i> Trailer
                    </a>
                </div>
            </article>
        </section>
    </body>
</html>
