<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:include="fragments/head :: head">
        <title>Spring Security Example </title>
        <span th:text="${session.login}"/>
    </head>
    <body>
    <header th:include="fragments/header :: header"></header>
        <section id="main-container">
		
        <form th:action="@{/users/login}" th:object="${user}"  method="post">
             <fieldset>
                    <legend>Connexion</legend>
            
            <div class="input-group">
            
	            <input  class="input input-text" type="text" name="username" th:field="*{username}"/> 
	            <label  class="input-label" for="username" > Nom d'utilisateur : </label> 
	            <span class="input-error" th:text="${session.msgerreurlogin}"></span>
            </div>
            <div class="input-group">
	            
	            <input  class="input input-text" type="password" name="password" th:field="*{password}"/>
	            <label  class="input-label"  for="password"  > Password : </label>
	            <span class="input-error" th:text="${session.msgerreurmdp}"/> 
	            
            </div>
            <div class="form-actions">
                        <button type="submit" class="form-action">Enregistrer</button>
                    </div>
            </fieldset>
        </form>
        </section>
    </body>
</html>