<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:include="fragments/head :: head">
    </head>
    <body>
		<header th:include="fragments/header :: header"></header>
        <section id="main-container">
        <form th:action="@{/users/signup}" th:object="${user}" method="post">
            <fieldset>
                    <legend>Inscription</legend>
                    
                    <div class="input-group">
		            	<input  class="input input-text" type="text" name="username" th:field="*{username}"/> 
			            <label  class="input-label" for="username" > Identifiant : </label> 
			            <span class="input-error" th:text="${session.msgerreurusername}"></span>
		            </div>
                    
                    <div class="input-group">
		            	<input  class="input input-text" type="text" name="email" th:field="*{email}"/> 
			            <label  class="input-label" for="email" > Email : </label> 
			            <span class="input-error" th:text="${session.msgerreuremail}"></span>
		            </div>
                    
                     <div class="input-group">
			            
			            <input  class="input input-text" type="password" name="password" th:field="*{password}"/>
			            <label  class="input-label"  for="password"  > Password : </label>
			          
            		</div>
                      <div class="form-actions">
                        <button type="submit" class="form-action">Enregistrer</button>
                    </div>
                    
            </fieldset>
           
           
           
           <!-- 
           
            <table>
                <tr>
                    <td>Identifiant :</td>
                    <td><input type="text" th:field="*{username}" /> <span th:text="${session.msgerreurusername}"/></td>
                    <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td><input type="text" th:field="*{email}" /> <span th:text="${session.msgerreuremail}"/></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
                </tr>
                <tr>
                    <td>Mot-de-passe :</td>
                    <td><input type="password" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table> -->
        </form>
	</section>
    </body>
</html>