<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head th:include="fragments/head :: head"></head>
    <body>
        <header th:include="fragments/header :: header"></header>
        <section id="main-container">
            <article id="presentation" class="container">
                <h2>Presentation</h2>
                <div class="content">
                    <p>Webflix is a streaming website. All the videos you'll find here are open-source.</p>
                </div>
            </article>
            <article id="movies-container" class="container media-container">
                <h2>Movies you may like</h2>
                <div class="content" th:include="fragments/list_films :: div.content"></div>
            </article>
            <article id="series-container" class="container media-container">
                <h2>TV-Shows you may like</h2>
                <div class="content" th:include="fragments/list_series :: div.content"></div>
            </article>
        </section>
    </body>
</html>
