/* line 5, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
html,
body {
  height: 100%;
}

/* line 10, ../sass/style.scss */
body {
  background: #4d4d4d;
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* line 17, ../sass/style.scss */
header {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  text-align: center;
  background: black;
  -moz-box-shadow: 0 0 16px 8px black;
  -webkit-box-shadow: 0 0 16px 8px black;
  box-shadow: 0 0 16px 8px black;
}
/* line 26, ../sass/style.scss */
header h1 {
  display: inline-block;
  font-family: 'Lobster', cursive;
  font-size: 3em;
}
/* line 31, ../sass/style.scss */
header h1 a {
  color: white;
  text-decoration: none;
}
/* line 35, ../sass/style.scss */
header h1 a:hover {
  text-shadow: 0 0 10px white;
  text-shadow: 0 0 10px 4px white;
}
/* line 41, ../sass/style.scss */
header #main-nav {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 46, ../sass/style.scss */
header #main-nav li {
  width: 48px;
  text-align: center;
}
/* line 51, ../sass/style.scss */
header #main-nav a {
  color: wheat;
  text-decoration: none;
}
/* line 55, ../sass/style.scss */
header #main-nav a:hover {
  color: white;
  text-shadow: 0 0 20px wheat;
  text-shadow: 0 0 20px 4px wheat;
}
/* line 62, ../sass/style.scss */
header #secondary-nav {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 67, ../sass/style.scss */
header #secondary-nav a {
  color: gray;
  text-decoration: none;
}
/* line 70, ../sass/style.scss */
header li {
  display: inline-block;
}

/* line 75, ../sass/style.scss */
#main-container {
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 83, ../sass/style.scss */
.container h2 {
  margin-top: 2vh;
  margin-left: 4vw;
  margin-bottom: 1vh;
  font-size: 2em;
  color: #f7e6c5;
}

/* line 95, ../sass/style.scss */
.media-container .media-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 100, ../sass/style.scss */
.media-container .media-list .media-item {
  position: relative;
  display: block;
  width: 20%;
  height: 25vw;
  overflow: hidden;
}
@media (min-width: 850px) {
  /* line 100, ../sass/style.scss */
  .media-container .media-list .media-item {
    width: 10%;
    height: 13vw;
  }
}
/* line 112, ../sass/style.scss */
.media-container .media-list .media-item:hover {
  background-color: yellow;
}
/* line 115, ../sass/style.scss */
.media-container .media-list .media-item:hover .media-info {
  top: 0;
}
/* line 120, ../sass/style.scss */
.media-container .media-list .media-item img {
  width: 100%;
  height: 100%;
}
/* line 125, ../sass/style.scss */
.media-container .media-list .media-item .media-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  background: rgba(200, 200, 200, 0.7);
  text-align: center;
  min-height: 150px;
  -moz-transition-property: top;
  -o-transition-property: top;
  -webkit-transition-property: top;
  transition-property: top;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 138, ../sass/style.scss */
.media-container .media-list .media-item .media-info .media-title {
  margin-top: 40%;
}

/* line 146, ../sass/style.scss */
.header-spacer {
  content: '';
  height: 48px;
}

/* line 151, ../sass/style.scss */
#media-container {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-size: auto 100%;
  -webkit-flex-grow: 2;
  flex-grow: 2;
}
/* line 161, ../sass/style.scss */
#media-container .media-poster {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
/* line 168, ../sass/style.scss */
#media-container .media-data {
  position: absolute;
  left: 35%;
  top: 45%;
  width: 400px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 176, ../sass/style.scss */
#media-container .media-data .media-title {
  margin: 0;
}
