/* line 5, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 18, ../sass/style.scss */
html,
body {
  height: 100%;
}

/* line 23, ../sass/style.scss */
body {
  background-image: linear-gradient(130deg, black, #4A646C 70%, #1A1110);
  background-attachment: fixed;
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* line 31, ../sass/style.scss */
header {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  text-align: center;
  background: black;
  -moz-box-shadow: 0 0 16px 8px black;
  -webkit-box-shadow: 0 0 16px 8px black;
  box-shadow: 0 0 16px 8px black;
}
/* line 40, ../sass/style.scss */
header h1 {
  display: inline-block;
  font-family: 'Lobster', cursive;
  font-size: 3em;
}
/* line 45, ../sass/style.scss */
header h1 a {
  color: white;
  text-decoration: none;
}
/* line 49, ../sass/style.scss */
header h1 a:hover {
  text-shadow: 0 0 10px white;
  text-shadow: 0 0 10px 4px white;
}
/* line 55, ../sass/style.scss */
header #main-nav {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 60, ../sass/style.scss */
header #main-nav li {
  width: 48px;
  text-align: center;
}
/* line 65, ../sass/style.scss */
header #main-nav a {
  color: wheat;
  text-decoration: none;
}
/* line 69, ../sass/style.scss */
header #main-nav a:hover {
  color: white;
  text-shadow: 0 0 20px wheat;
  text-shadow: 0 0 20px 4px wheat;
}
/* line 76, ../sass/style.scss */
header #secondary-nav {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 81, ../sass/style.scss */
header #secondary-nav a {
  color: gray;
  text-decoration: none;
}
/* line 84, ../sass/style.scss */
header li {
  display: inline-block;
}

/* line 89, ../sass/style.scss */
#main-container {
  min-height: 100%;
  padding-top: 48px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-shadow: 1px 1px 2px darkgoldenrod;
  text-shadow: 1px 1px 2px 0 darkgoldenrod;
}
/* line 97, ../sass/style.scss */
#main-container .categories-container {
  position: fixed;
  z-index: 999;
  width: 200px;
  height: 100vh;
  padding-top: 48px;
  top: 0;
  border-right: 1px solid wheat;
  background-image: linear-gradient(130deg, black, #2A2120 70%, #4A646C);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 110, ../sass/style.scss */
#main-container .categories-container:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 50px;
  border: 3px solid wheat;
  top: 50%;
  left: 100%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 122, ../sass/style.scss */
#main-container .categories-container:hover {
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
/* line 126, ../sass/style.scss */
#main-container .categories-container ul {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 135, ../sass/style.scss */
.actions-bar {
  position: fixed;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
/* line 141, ../sass/style.scss */
.actions-bar .action {
  display: inline-block;
  height: 25px;
  width: 25px;
  padding-top: 4px;
  border-radius: 25px;
  background-color: wheat;
  color: black;
  border: 1px solid black;
}
/* line 151, ../sass/style.scss */
.actions-bar .action:hover {
  background-color: black;
  color: wheat;
  border: 1px solid wheat;
}

/* line 161, ../sass/style.scss */
.container h2 {
  margin-top: 2vh;
  margin-left: 4vw;
  margin-bottom: 1vh;
  font-size: 2em;
  color: #f7e6c5;
}

/* line 172, ../sass/style.scss */
.media-container .content {
  position: relative;
  min-height: 55px;
}
/* line 177, ../sass/style.scss */
.media-container .no-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 185, ../sass/style.scss */
.media-container .media-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 190, ../sass/style.scss */
.media-container .media-list .media-item {
  position: relative;
  display: block;
  width: 20%;
  height: 25vw;
  overflow: hidden;
}
@media (min-width: 850px) {
  /* line 190, ../sass/style.scss */
  .media-container .media-list .media-item {
    width: 10%;
    height: 13vw;
  }
}
/* line 202, ../sass/style.scss */
.media-container .media-list .media-item:hover {
  background-color: yellow;
}
/* line 205, ../sass/style.scss */
.media-container .media-list .media-item:hover .media-info {
  top: 0;
}
/* line 210, ../sass/style.scss */
.media-container .media-list .media-item img {
  width: 100%;
  height: 100%;
}
/* line 215, ../sass/style.scss */
.media-container .media-list .media-item .media-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  background: rgba(200, 200, 200, 0.7);
  text-align: center;
  min-height: 150px;
  color: black;
  -moz-transition-property: top;
  -o-transition-property: top;
  -webkit-transition-property: top;
  transition-property: top;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 229, ../sass/style.scss */
.media-container .media-list .media-item .media-info .media-title {
  margin-top: 40%;
}

/* line 237, ../sass/style.scss */
#media-container {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-size: auto 100%;
  -webkit-flex-grow: 2;
  flex-grow: 2;
}
@media (max-width: 600px) {
  /* line 237, ../sass/style.scss */
  #media-container {
    background-position: center top;
    background-size: 100% auto;
  }
}
/* line 252, ../sass/style.scss */
#media-container:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(10, 10, 10, 0.3);
  -moz-box-shadow: inset 4px 1px 9px -6px white;
  -webkit-box-shadow: inset 4px 1px 9px -6px white;
  box-shadow: inset 4px 1px 9px -6px white;
}
/* line 263, ../sass/style.scss */
#media-container .media-poster {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
/* line 270, ../sass/style.scss */
#media-container .media-data,
#media-container .media-actions {
  position: absolute;
}
/* line 275, ../sass/style.scss */
#media-container .media-actions {
  bottom: 0;
  width: 100%;
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  padding: 10px 0 10px 35%;
}
@media (max-width: 600px) {
  /* line 275, ../sass/style.scss */
  #media-container .media-actions {
    padding: 10px 0;
    text-align: center;
  }
}
/* line 286, ../sass/style.scss */
#media-container .media-actions .media-action {
  display: inline-block;
  color: white;
  border: 2px solid white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0 20px wheat;
  text-shadow: 0 0 20px 4px wheat;
}
/* line 296, ../sass/style.scss */
#media-container .media-actions .small-action {
  padding: 4px 6px;
  font-size: 1.2em;
}
/* line 301, ../sass/style.scss */
#media-container .media-actions .big-action {
  padding: 8px 12px;
  font-size: 2em;
}
/* line 307, ../sass/style.scss */
#media-container .media-data {
  left: 35%;
  top: 40%;
  width: 400px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 600px) {
  /* line 307, ../sass/style.scss */
  #media-container .media-data {
    position: initial;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  /* line 322, ../sass/style.scss */
  #media-container .media-data .media-title,
  #media-container .media-data .video-data {
    text-align: center;
  }
}
/* line 328, ../sass/style.scss */
#media-container .media-data .media-title {
  margin: 0 0 10px 0;
  font-weight: bold;
  font-variant: small-caps;
}
/* line 334, ../sass/style.scss */
#media-container .media-data .video-data {
  margin-bottom: 20px;
}
/* line 338, ../sass/style.scss */
#media-container .media-data .media-one-data {
  margin-right: 5px;
}

/* line 344, ../sass/style.scss */
#video-container {
  position: relative;
  -webkit-flex-grow: 2;
  flex-grow: 2;
}
/* line 348, ../sass/style.scss */
#video-container .video-title {
  margin: 30px 0;
  text-align: center;
}
/* line 353, ../sass/style.scss */
#video-container video {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  height: auto;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-height: 500px) {
  /* line 353, ../sass/style.scss */
  #video-container video {
    position: initial;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    margin: auto;
  }
}

/* line 369, ../sass/style.scss */
form {
  width: 95%;
  max-width: 500px;
  min-width: 300px;
  margin: auto;
}
/* line 375, ../sass/style.scss */
form fieldset {
  -moz-box-shadow: 0 0 5px 0 #000;
  -webkit-box-shadow: 0 0 5px 0 #000;
  box-shadow: 0 0 5px 0 #000;
  margin-bottom: 5px;
  padding: 24px;
  border: none;
  border-radius: 8px;
  background-color: #393939;
  background-image: linear-gradient(130deg, #2f3439, #3d434a 70%, #2f3439);
}
/* line 385, ../sass/style.scss */
form legend {
  font-weight: bold;
  padding: 10px 35px;
  color: #828d98;
  text-shadow: 0 1px 0 #aaaaaa;
  text-shadow: 0 1px 0 rgba(75, 75, 75, 0.8) #aaaaaa;
}
/* line 392, ../sass/style.scss */
form .input-group {
  position: relative;
  width: 100%;
  margin-top: 30px;
}
/* line 398, ../sass/style.scss */
form .input {
  width: 100%;
  margin: 0;
  padding: 4px 8px;
  background-color: #464d55;
  border-radius: 8px;
  box-shadow: #000 0 0 4px 1px inset;
  border: none;
  color: white;
}
/* line 408, ../sass/style.scss */
form .input:focus {
  outline: none;
}
/* line 412, ../sass/style.scss */
form .input.input-text {
  height: 32px;
}
/* line 416, ../sass/style.scss */
form .input.input-textarea {
  height: 64px;
  resize: vertical;
}
/* line 422, ../sass/style.scss */
form .input-label {
  position: absolute;
  bottom: calc(100% + 4px);
  left: 8px;
  text-shadow: 0 -1px 0 #000;
  text-shadow: 0 -1px 0 0 #000;
}
/* line 429, ../sass/style.scss */
form .input-error {
  position: absolute;
  bottom: calc(100% + 2px);
  right: 0;
  font-size: .8em;
  color: #ee5565;
}
/* line 437, ../sass/style.scss */
form .form-actions {
  width: 100%;
  padding: 25px 0 5px 0;
  text-align: center;
}
/* line 443, ../sass/style.scss */
form .form-action {
  text-shadow: 0 -1px 0 #000;
  text-shadow: 0 -1px 0 0 #000;
  -moz-box-shadow: 0 0 1px 0 #000;
  -webkit-box-shadow: 0 0 1px 0 #000;
  box-shadow: 0 0 1px 0 #000;
  background-color: #1f2026;
  background-image: linear-gradient(180deg, #1A1110, #353333 60%, #15161a);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
}
